.env
dist/
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

server/backups/**
!server/backups/.gitkeep
client/public/images/upload/products/**
!client/public/images/upload/products/temporary/
!client/public/images/upload/products/temporary/note.txt

test/

.idea

service/sysinfo-client/.vs
!service/sysinfo-client/sysinfo-client.sln
service/sysinfo-client/sysinfo-client/bin
service/sysinfo-client/sysinfo-client/obj

service/sysinfo-server-rust/target/
service/sysinfo-server-rust/Cargo.lock

# service/
